# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Bryan Havenstein <bryan.havenstein@ericsson.com>
David Charles Kennedy <dkennedy@hp.com>
Dmitri Zimine <dz@stackstorm.com>
Lakshmi Kannan <lakshmi@stackstorm.com> <lakshmi+github@lakshmikannan.me>
Lingxian Kong <konglingxian@huawei.com>
Lingxian Kong <konglingxian@huawei.com> <anlin.kong@gmail.com>
Liu Sheng <liusheng@huawei.com>
Manas Kelshikar <manas@stackstorm.com>
Noa Koffman <noa.koffman@alcatel-lucent.com>
Renat Akhmerov <rakhmerov@mirantis.com>
Rico Lin <rico.lin.guanyu@gmail.com>
Timur Nurlygayanov <tnurlygayanov@mirantis.com>
Venkata Mahesh Kotha <venkatamaheshkotha@gmail.com>
Winson Chan <wcchan@stackstorm.com> <m4d.coder@gmail.com>
Winson Chan <wcchan@stackstorm.com> <wcchan@stackstorm.com>
Zhu Rong <zhu.rong@99cloud.net>
