certifi==2024.2.2
confluent-kafka==1.6.1
gevent
jsonschema<4.6.0
kubernetes
psycopg2
py_mini_racer
prometheus_client
setuptools==70.0.0
urllib3==1.26.18
# tls issue
oslo.service==3.4.0
fastapi
uvicorn

#context issue
oslo.context==5.7.1