certifi>=2024.7.4
confluent-kafka==1.6.1
gevent
jsonschema<4.6.0
kubernetes
psycopg2
py_mini_racer
prometheus_client
setuptools==78.1.1
urllib3==2.5.0
# tls issue
oslo.service==3.4.0
fastapi
uvicorn
Jinja2==3.1.6
eventlet>=0.40.3

#context issue
oslo.context==5.7.1