pbr>=0.5.21,<1.0
eventlet>=0.13.0
http://tarballs.openstack.org/taskflow/taskflow-master.tar.gz
pyyaml
pecan>=0.2.0
WSME>=0.5b6
amqplib>=0.6.1
argparse
croniter
requests
oslo.config>=1.2.0
python-keystoneclient>=0.3.2
pika>=0.9.13
networkx
SQLAlchemy
