# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
coverage!=4.4,>=4.0 # Apache-2.0
croniter>=0.3.4 # MIT License
doc8 # Apache-2.0
eventlet!=0.18.3,!=0.20.1,<0.21.0,>=0.18.2 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
hacking!=0.13.0,<0.14,>=0.12.0 # Apache-2.0
keystonemiddleware>=4.12.0 # Apache-2.0
mistral-lib>=0.2.0 # Apache-2.0
mock>=2.0.0 # BSD
networkx>=1.10 # BSD
nose # LGPL
oslotest>=1.10.0 # Apache-2.0
oslo.db>=4.24.0 # Apache-2.0
oslo.messaging!=5.25.0,>=5.24.2 # Apache-2.0
oslo.policy>=1.23.0 # Apache-2.0
osprofiler>=1.4.0 # Apache-2.0
os-api-ref>=1.0.0 # Apache-2.0
pecan!=1.0.2,!=1.0.3,!=1.0.4,!=1.2,>=1.0.0 # BSD
pyflakes==0.8.1 # MIT
reno>=2.5.0 # Apache-2.0
requests-mock>=1.1.0 # Apache-2.0
sphinx>=1.6.2 # BSD
sphinxcontrib-httpdomain # BSD
sphinxcontrib-pecanwsme>=0.8.0 # Apache-2.0
openstackdocstheme>=1.16.0 # Apache-2.0
tooz>=1.47.0 # Apache-2.0
tempest>=16.1.0 # Apache-2.0
testrepository>=0.0.18 # Apache-2.0/BSD
testtools>=1.4.0 # MIT
unittest2 # BSD
WSME>=0.8 # MIT
