hacking>=0.8.0,<0.9
coverage>=3.6
pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
flake8==2.0
pylint==0.25.2
sphinx>=1.1.2
unittest2
oslosphinx
sphinxcontrib-pecanwsme>=0.8
sphinxcontrib-httpdomain
docutils==0.9.1
fixtures>=0.3.14
mock>=1.0
nose
testrepository>=0.0.18
testtools>=0.9.34
lockfile>=0.9.1
