[DEFAULT]
# Show more verbose log output (sets INFO log level output)
verbose = True

# Show debugging output in logs (sets DEBUG log level output)
debug = False

# Log to this file
log_file = /tmp/mistral.log

# Log levels for specific modules
default_log_levels = mistral=INFO,mistral.cmd.api=INFO,mistral.api=DEBUG,wsme=DEBUG

# Rabbit config for oslo.messaging
rabbit_host = localhost
rabbit_port = 5672
rabbit_virtual_host = /
rabbit_task_queue = tasks
rabbit_user = guest
rabbit_password = guest

# Uncomment this option to get more fine-grained control over logging configuration
#log_config_append = etc/logging.conf

# Options for oslo.messaging
#rpc_backend=rabbit

# Specifies which mistral server(s) to start by the launch script. (string value)
# Choices are all (default) or comma delimited list of api, engine, and/or executor.
# Example: server=api,engine
#server=all

[api]
# Host and port to bind the API server to
host = 0.0.0.0
port = 8989

[engine]
# Mistral engine plugin (string value)
#engine=default

# Name of the engine node. This can be an opaque identifier.
# It is not necessarily a hostname, FQDN, or IP address. (string value)
#host=0.0.0.0

# The message topic that the engine listens on. (string value)
#topic=engine

# The version of the engine. (string value)
#version=1.0

[pecan]
auth_enable = True

[database]
#A valid SQLAlchemy connection string
#connection = mysql://root:password@localhost:3306/mistral
connection = sqlite:///mistral.sqlite

[keystone]
auth_uri=http://localhost:5000/v3
auth_host=localhost
auth_port=5000
admin_user=admin
admin_password=password
auth_protocol=http
admin_tenant_name=admin

[executor]
# Name of the executor node. This can be an opaque identifier.
# It is not necessarily a hostname, FQDN, or IP address. (string value)
#host=0.0.0.0

# The message topic that the executor listens on. (string value)
#topic=executor

# The version of the executor. (string value)
#version=1.0
