[DEFAULT]
# Show more verbose log output (sets INFO log level output)
verbose = True

# Show debugging output in logs (sets DEBUG log level output)
debug = False

# Log to this file
log_file = /tmp/mistral.log

# Log levels for specific modules
default_log_levels = mistral=INFO,mistral.cmd.api=INFO,mistral.api=DEBUG,wsme=DEBUG

# Uncomment this option to get more fine-grained control over logging configuration
#log_config_append = etc/logging.conf

[api]
# Host and port to bind the API server to
host = 0.0.0.0
port = 8989

[pecan]
auth_enable = True

[database]
#A valid SQLAlchemy connection string
#connection = mysql://root:password@localhost:3306/mistral
connection = sqlite:///mistral.sqlite

[rabbit]
rabbit_host = localhost
rabbit_port = 5672
rabbit_virtual_host = /
rabbit_task_queue = tasks
rabbit_user = guest
rabbit_password = guest

[keystone]
auth_uri=http://localhost:5000/v3
auth_host=localhost
auth_port=5000
admin_user=admin
admin_password=password
auth_protocol=http
admin_tenant_name=admin