---
    name: CLA Assistant
    
    on:
      issue_comment:
        types: [created]
      pull_request_target:
        types: [opened,closed,synchronize]
    jobs:
      cla_assistant:
        uses: Netcracker/qubership-workflow-hub/.github/workflows/cla.yaml@main
        secrets:
          personal_access_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}